.burger-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ff216a;
  box-shadow: 0px 3px 30px 0px rgb(255 33 106 / 25%);
  border-radius: 50%;
  padding: 19px 13px;
}
.burger__inner {
  display: block;
  position: absolute;
  width: 34px;
  height: 4px;
  transition: all 0.2s;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  border-radius: 4px;
  background-color: white;
}

.burger__inner::after,
.burger__inner::before {
  display: block;
  content: "";
  position: absolute;
  background-color: white;
  width: 34px;
  height: 4px;
}
.burger__inner::after {
  top: 10px;
}

.burger__inner::before {
  top: -10px;
}
