@import "./modules/reset";
@import "fonts.scss";

html {
  font-size: 62.5%;
  @media screen and (max-width: 1024px) {
    font-size: 50%;
  }
  @media screen and (max-width: 550px) {
    font-size: 40%;
  }
}

body {
  font-family: "PT Sans", "Open Sans", "Helvetica", Arial, sans-serif;
  overflow-x: hidden;
  min-height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.container-wide {
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3,
h4 {
  font-size: 2.4rem;
}

p {
  font-size: 2rem;
}

a {
  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}

@import "./components/ButtonNEW.scss";
@import "./components/section-wrapper.scss";

@import "./containers/header.scss";
@import "./containers/headerBackground.scss";
@import "./containers/burgerMenu.scss";
@import "./containers/services.scss";
@import "./containers/order.scss";
@import "./containers/orderBackground.scss";
@import "./containers/portfolio.scss";
@import "./containers/testimonials.scss";
@import "./containers/footer.scss";
@import "./containers/overlay.scss";
@import "./containers/banner.scss";
